body{
  margin:0;
}
.banner{
  height: 295px;
  background-color:#2c9ab7;
  background-image: url("images/banner-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}
.banner-content{
  padding-top: 45px;
  padding-left: 150px;
  width:335px;
}
.banner-content .heading{
  font-size:42px;
  margin-bottom:20px;
}
.banner-content .description{
  margin-top:0;
  font-size:26px;
  font-style: italic;
}
nav{
  background-color:rgb(235, 235, 235);
}
.nav-list{
    color: black;
    font-weight: bold;
    padding-left:150px;
    margin-top:0;
}
.nav-item{
  font-size: 17px;
  display: inline-block;
  padding: 15px 10px 15px 0;
}
.main{
  background-color:rgb(255,255,255);
  height:599px;
  margin-top:-18px;
  padding-left:150px;
  padding-top:23px;
}
 .para2{
  margin-bottom:-15px;
  font-family: sans-serif;
  font-size:13px;
}

.ib{
  box-sizing: border-box;
  float:left;
  width : 589px;
}
.h4-cls-1{
  color: #2c9ab7;
  font-family: sans-serif;
  padding-top:0px;
  font-size:17px;
}
.h4-cls-2{
  margin-top:-19px;
  color: #2c9ab7;
  font-family: sans-serif;
  font-size:17px;
}
.h4-cls-3{
  margin-top:29px;
  color: #2c9ab7;
  padding-top:40px;
  font-size:21px;
  font-style:italic
}
.h4-cls-4{
  margin-top:52px;
  font-size:18px;
}
figcaption{
  font-size:14px;height:44px;padding-top:19px;
}
.footer-image{
  position:relative;
  top:-13px;
  left:-41px;
}
.logo{
  position:absolute;
  top:1097px;
  left:502px;
}
.nav-footer{
  position:absolute;
  left:485px;
  bottom:-670px;
  text-align:center;
  color:white;
}
.span1{
  position:absolute;
  left:472px;
  bottom:-648px;
  text-align:center;
  color:white;
}
.span2{
  position:absolute;
  left:520px;
  bottom:-732px;
  text-align:center;
  color:white;
}
